	<div class="header">
		<a class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
			<span class="ico-header-back"></span>
		</a>
		<h1>积分查询</h1>
		<button class="header-right"><span class="ico-scan" onclick="wxScanQRCode();"></span></button>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="score-s-header">
			<!-- <a class="ico-question" href="#"></a> -->
			<div class="score-scan">
				<div class="score-num"><%= @user.score %></div>
				<div class="f12">我的积分</div>
			</div>
<!-- 			<a class="score-market" href="">
					积分商场
				<i class="ico-next"></i>
			</a> -->
		</div>
		<div class="sub-title score-title">
			<i class="ico-score mr5"></i>积分明细
		</div>
		<ul class="data-list">
			<% @score_queries.each_with_index do |score_query, index| %>
				<li class="data-item">
					<div class="flex-fluid"><%= score_query.created_at.strftime('%Y-%m-%d %H:%M:%S') %></div>
					<div><%= score_query.oper %><span class="text-info"><%= score_query.point %></span>积分</div>
				</li>
			<% end %>
		</ul>
	</div>
	 <%= render 'popup' %>
