  <div class="header">
    <a class="header-left" href="/phone/homepages">
      <span class="ico-header-back"></span>
    </a>
    <h1>会员资料</h1>
    <button class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->
  <div class="container has-top">
    <div class="sub-title">账户与安全</div>
    <ul class="data-list form-list">
      <li class="data-item">
        <div><i class="ico-user2"></i>头像</div>
        <div class="user-pic-upload">
          <img src="/assets/phone/images/ico-user.png" alt="">
          <input type="file" accept="image/*" capture="camera">
        </div>
      </li>
      <li class="data-item">
        <div>
          <i class="ico-nickname"></i>
          昵称  
        </div>
        
        <input class="flex-fluid" type="text" placeholder="<%= @user.name %>">
      </li>
      <li class="data-item">
        <div>
          <i class="ico-sex"></i>
          性别  
        </div>
        <input class="flex-fluid" type="text" placeholder="<%= @user.sex %>">
      </li>
      <li class="data-item">
        <div>
          <i class="ico-birth"></i>
          生日  
        </div>
        <input class="flex-fluid" type="text" placeholder="<%= @user.birthday %>">
      </li>
    </ul>
    <ul class="data-list block-mt form-list">
      <li class="data-item">
        <div>
          <i class="ico-email"></i>
          邮箱  
        </div>
        <input class="flex-fluid" type="text" placeholder="<%= @user.email %>">
      </li>
      <li class="data-item">
        <div>
          <i class="ico-phone"></i>
          电话  
        </div>
        <input class="flex-fluid" type="text" placeholder="<%= @user.phone_num %>">
      </li>

    </ul>
  </div>