    <div class="header">
    <a class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
      <span class="ico-header-back"></span>
    </a>
    <h1>会员资料</h1>
    <!-- <button class="header-right"><span class="ico-scan" onclick="wxScanQRCode();"></span></button> -->
    <button class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->
  <div class="container has-top">
    <div class="sub-title has-bg">账户与安全</div>
      <%=  form_tag(@action, method: :patch) do %>
    <ul class="data-list form-list">
      <li class="data-item">
        <div class="data-hd">
        <i class="ico-user4 mr5"></i> 头像</div>
        <div class="user-pic-upload">
            <img <% if @user.headimgurl.blank? %> src="/assets/phone/images/img-user.png" <%else%> src="<%= @user.headimgurl %>" <% end %> alt="">
          <!-- <img src="/assets/phone/images/ico-user.png" alt="">
          <input type="file" accept="image/*" capture="camera"> -->
        </div>
      </li>
      <li class="data-item">
        <div class="data-hd">
          <i class="ico-nickname mr5"></i>
          昵称  
        </div>
        <%= text_field_tag "user[name]", @user.name, class: "flex-fluid" %>
      </li>
      <li class="data-item">
        <div class="data-hd">
          <i class="ico-sex mr5"></i>
          性别  
        </div>

        <select name="user[sex]" id="user_sex">
          <% if @user.sex == "1" %>
          <option value="1" selected>男</option>
          <option value="0">女</option>
           <% else @user.sex == "0"  %>
            <option value="1">男</option>
          <option value="0" selected>女</option>
          <% end %>
        </select>

       </li>
      <li class="data-item">
        <div class="data-hd">
          <i class="ico-birth mr5"></i>
          生日  
        </div>
        <div>
        <input type="date" name="user[birthday]" id="user_birthday" />
        </div>
      </li>
    </ul>
    <ul class="data-list block-mt form-list">
      <li class="data-item">
        <div class="data-hd">
          <i class="ico-email mr5"></i>
          邮箱  
        </div>
        <%= text_field_tag "user[mem_email]", @user.mem_email, class: "flex-fluid" %>
      </li>
      <li class="data-item">
        <div class="data-hd">
          <i class="ico-phone mr5"></i>
          电话  
        </div>
        <%= text_field_tag "user[phone_num]", @user.phone_num, class: "flex-fluid" %>
      </li>
      <!-- 传递id --> 
      <%= hidden_field_tag 'user_id', @user.id %>

      <%= hidden_field_tag 'notice', flash.now[:notice] %>
    </ul>
    <div class="text-center block-mt bottom-btn">
     <%= submit_tag "保存", class: 'btn-primary flex-fluid btn-size-lg btn-round' %>
    </div>
  <% end %>
  <script type="text/javascript">
     function check_input(){

             $('.profile_submit_button').click(function() {
                if (!/^1\d{10}$/.test($('#user_phone_num').val())) {
                  alert("号码格式不对");
                  return false;
                } else {
                  return true;
                }
              });

      }
      function show_notice(){
        var notice = $("#notice").val()
          if(notice != "" && notice != null) {
            if(notice == 'profile_save_success')
              alert("保存成功")
            else if(notice == 'profile_save_fail')
              alert("保存失败 ")
          }
          $("#notice").val(""); 
      }

    $(document).ready(function(){
        show_notice()
        //日期控件初始化
        $.datetimepicker.setLocale('zh');
        $('.datetimepicker').datetimepicker({timepicker:false,format:'Y-m-d'});
        //检查手机格式
        check_input()
    })

   
  </script>

  </div>
