<% content_for :title, "我的会员" %>

<!-- header begin -->
<div class="header">
  <a class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
    <span class="ico-header-back"></span>
  </a>
  <div class="condition-group goods-catalog-cond" hidden>
    <ul class="float-ul clearfix wu3">
    
    </ul>
  </div>
</div>
<!-- header end -->

<!-- content begin -->
<div class="container has-top action-config-wrap">
  <div class="flex-wrap-top">
    <div class="flex-none action-list-wrap">
      <ul class="action-list">
        <li class="action-item active"><%= link_to "我的会员", phone_users_path %></li>
        <li class="action-item"><%= link_to "活动配置", new_phone_color_page_path  %></li>
        <li class="action-item"><%= link_to "历史活动", phone_color_pages_path  %></li>
      </ul>
    </div>
    <div class="flex-fluid action-content-wrap">

      <%= form_tag("/phone/users", method: "get") do %>
      <div class="flex-wrap">
        <div class="flex-fluid">
          <div class="ui-input">
            <%= text_field_tag(:name, @name, placeholder: '请输入要要查询的内容', value: @name, style: 'width:100%;') %>
          </div>
        </div>
        <div class="flex-none">
          <button type="submit" class="btn-primary-hollow ml10">查询</button>
        </div>
      </div>
      <% end %>

      <div class="action-result-title">查询结果</div>
      <div class="bd-table tc">
        <table>
          <thead>
            <tr>
              <th>名称</th>
              <th>电话</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.phone_num %></td>
                <td><%= link_to '详情>>', phone_profile_path(user.id), :class =>'text-primary' %></td>
              </tr>
            <% end %>
          </tbody>

          <% if @users.length == 0 %>
          <tfoot>
            <tr>
              <td colspan="3">暂无数据</td>
            </tr>
          </tfoot>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
<!-- content end -->


<!-- <div class="text-center block-mt">加载完成</div>-->

