<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>

<%= link_to 'Edit', edit_phone_user_path(@user) %> |
<%= link_to 'Back', phone_users_path %>
