<%= form_for [:admin,@bonus_change], :html => { :class => "form-horizontal bonus_change" } do |f| %>

  <% if @bonus_change.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bonus_change.errors.count, "error") %> prohibited this bonus_change from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bonus_change.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="clearfix form-list">
          <label class="col-xs-1 control-label" for=""><%= f.label :score %></label>
          <div class="col-xs-3">
            <%= f.text_field :score, :class => 'form-control' %>
            <%=f.error_span(:score) %>
          </div>
          <label class="col-xs-1 control-label" for=""><%= f.label :red_packet%></label>
          <div class="col-xs-3">
            <%= f.text_field :red_packet, :class => 'form-control' %>
            <%=f.error_span(:red_packet) %>
          </div>  
        </div>
      </form>
      <div class="block-mt">
        <%= f.submit nil, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_bonus_changes_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
