<% content_for :title, "积分兑换" %>
    <script type="text/javascript">
        $(document).on("turbolinks:load",function(){
            uploadLocation();
        });
    </script>
<body class="body-bg">
	<div class="header">
		<a  class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
			<span class="ico-header-back"></span>
		</a>
		<button id="scan" class="header-right"><span class="ico-scan"></span></button>
	</div>
	<!-- header end -->
	<div class="container has-top score-exchange-wrap">
		<div class="flex-wrap-between score-exchange-title">
			<div class="flex-fluid current">
				积分
				<span class="ico-score"></span>:
				<%= @user.score %>
			</div>
			<div>
				<a href="/phone/score_queries?pay_type=down">
					<span class="ico-record"></span>
					兑换记录
				</a>
			</div>
		</div>
		<div class="score-exchange">
			<div class="score-exchange-left">
				<ul class="exchange-tit-list">
					<li class="active">
						<a href="/phone/bonus_changes">
							<img class="tit-img" src="/assets/phone/images/img-redpacket.png" alt="">
							<div>红包</div>
						</a>
					</li>
					<li>
						<a href="/phone/coupons">
			              <img class="tit-img" src="/assets/phone/images/img-new-coupon.png">
			              <div>优惠券</div>
			            </a>
					</li>
				</ul>
			</div>
			<div class="score-exchange-right">
				<% if @bonus_changes.blank? %>
					<div class="no-exchage-tips text-tips">活动正在策划中，敬请期待</div>
				<% else %>
				<!-- <div class="no-exchage-tips text-tips">活动正在策划中，敬请期待</div> -->
				<!-- 有兑换项时显示下面，没有显示上面no-exchage-tips的div -->
				<div>
					<ul class="exchange-list">
					<% @bonus_changes.each_with_index do |bonus_change, index| %>
						<li class="exchange-list-item">
							<div class="adapt-img">
								<img src="/assets/phone/images/bg-score-exchange.png" alt="">
								<div class="score">
									<%= bonus_change.score %>积分
								</div>
								<div class="price">
									￥<%= bonus_change.red_packet %>
								</div>
								<!-- <a class="btn-default" href="">立即兑换</a> -->
								<%= link_to "立即兑换",
			                      new_phone_score_query_path(:fun_type => "bonus_change", :bonus_change_id => bonus_change.id),
			                      :class => 'btn-default' %>
<!--                            <%= link_to "商品扫码",
			                      new_phone_score_query_path(:fun_type => "goods_scan", :code => "10003",:score_history => {:bonus_change_id => bonus_change.id,:object_type => "积分兑换",  :object_id => bonus_change.id,:oper => "获得"}),
			                      :class => 'btn-similar-hollow' %>  -->
							</div>
						</li>
						<% end %>
					</ul>
					<div class="load-tips">更多礼品陆续添加中</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= render :partial => 'popup' %>
</body>
