	<div class="header">
		<a class="header-left" href="/phone/homepages">
			<span class="ico-header-back"></span>
		</a>
		<h1>积分查询</h1>
		<button class="header-right"><span class="ico-scan"></span></button>
	</div>

	<!-- header end -->
	<div class="container has-top">
		<div class="score-s-header">
			<a class="ico-question" href="#"></a>
			<div class="score-scan">
				<div class="score-num"><%= @user.score %></div>
				<div class="f12">我的积分</div>
			</div>
			<a class="score-market" href="">
					积分商场
				<i class="ico-next"></i>
			</a>
		</div>

    	<%= bootstrap_flash %>
    	
		<ul class="coupon-list">
		<% @bonus_changes.each_with_index do |bonus_change, index| %>
			    <% if index  % 3 == 0%>
					<li class="coupon-item coupon-similar">
						<i class="dot-line"></i>
						<i class="coupon-tips">兑换券</i>
						<div class="coupon-left">
							￥<span class="coupon-price"><%= bonus_change.red_packet %></span>
						</div>
						<div class="coupon-center">
							<div class="f16 text-tit">扣积分:</div>
							<span class="label label-similar mt5"><%= bonus_change.score %></span>
						</div>
						<div class="coupon-right">
							<%= link_to "立即兑换",
		                      new_phone_score_query_path(:score_history => {:bonus_change_id => bonus_change.id,:user_id => @user.id, :object_type => "积分兑换", :object_id => bonus_change.id, :point => bonus_change.score, :red_packet => bonus_change.red_packet, :oper => "扣减"}),
		                      :class => 'btn-similar-hollow' %>
						</div>
					</li>
				<% end %>

				<% if index  % 3 == 1%>
					<li class="coupon-item coupon-warning">
						<i class="dot-line"></i>
						<i class="coupon-tips">兑换券</i>
						<div class="coupon-left">
							￥<span class="coupon-price"><%= bonus_change.red_packet %></span>
						</div>
						<div class="coupon-center">
							<div class="f16 text-tit">扣积分:</div>
							<span class="label label-warning mt5"><%= bonus_change.score %></span>
						</div>
						<div class="coupon-right">
							<button class="btn-similar-hollow">立即兑换</button>
						</div>
					</li>
				<% end %>

				<% if index  % 3 == 2%>
					<li class="coupon-item coupon-info">
						<i class="dot-line"></i>
						<i class="coupon-tips">兑换券</i>
						<div class="coupon-left">
							￥<span class="coupon-price"><%= bonus_change.red_packet %></span>
						</div>
						<div class="coupon-center">
							<div class="f16 text-tit">扣积分:</div>
							<span class="label label-info mt5"><%= bonus_change.score %></span>
						</div>
						<div class="coupon-right">
							<button class="btn-similar-hollow">立即兑换</button>
						</div>
					</li>
				<% end %>
				
		    <% end %>
		</ul>
	</div>
	<div class="line-through">
		<span class="text">以上是积分兑换卷</span>
	</div>