<%- model_class = ConfigTableInfo -%>
<div class="container">
  <div class="panel">
	<div class="panel-heading">
      <div class="panel-title">配置表单</div>
    </div>
	<div class="panel-body">
	<div class="table-responsive block-mt">
<table class="table table-striped">
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name(:cf_id) %></th>
      <th><%= model_class.human_attribute_name(:cf_desc) %></th>
      <th><%= model_class.human_attribute_name(:cf_value) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @config_table_infos.each do |config_table_info| %>
      <tr>
        <!-- <td><%= link_to config_table_info.id, admin_config_table_info_path(config_table_info) %></td> -->
        <td><%= config_table_info.cf_id %></td>
        <td><%= config_table_info.cf_desc %></td>
        <td><%= config_table_info.cf_value %></td>
        <td><%= config_table_info.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_config_table_info_path(config_table_info), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_config_table_info_path(config_table_info), :class => 'btn btn-warning btn-xs' %>
<!--          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_config_table_info_path(config_table_info),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_config_table_info_path,
            :class => 'btn btn-warning' %>
</div> 
          <%= paginate @config_table_infos %>
                </div>
            </div>
        </div>
