<%- model_class = ConfigTableInfo -%>
    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">商品详情</div>
            </div>
            <div class="panel-body">
                <div>
                    <table class="table table-show-data">
                        <tr>
                            <th>
                                <%= model_class.human_attribute_name(:cf_id) %>:
                            </th>
                            <td>
                                <%= @config_table_info.cf_id %>
                            </td>
                             <th>
                                <%= model_class.human_attribute_name(:cf_desc)  %>:
                            </th>
                            <td>
                                <%= @config_table_info.cf_desc %>
                            </td>
                            <th>
                                <%= model_class.human_attribute_name(:cf_value)  %>:
                            </th>
                            <td>
                                <%= @config_table_info.cf_value %>
                            </td>
                        </tr>
                        
                        <tr>
                            
                             <% if @config_table_info.cf_id == 'HOME_PAGE_IMG' %>
                                <th>
                                    <%= model_class.human_attribute_name(:ad_photo) %>:
                                </th>
                                <td>
                                    <img src="<%= @config_table_info.ad_photo %>" alt="Image" class="media-object">
                                </td>
                                <th></th><td></td>
                                <th></th><td></td>
                              <% else %>
                                 <th></th><td></td>
                                 <th></th><td></td>
                                 <th></th><td></td>
                            <% end %>
                        </tr>
                       
                    </table>
                </div>
                <div class="text-left block-mt">
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_config_table_info_path(@config_table_info), :class => 'btn btn-warning mr10' %>
                        <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_config_table_infos_path, :class => 'btn btn-default'  %>
                            
                </div>
            </div>
        </div>
    </div>