<%= form_for [:phone, @color_page], :html => { :class => "form-vertical" } do |f| %>

<div class="form-group">

  <label class="label-vertical"><%= f.label :name %>:</label> 
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :name, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :begin_time %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :begin_time, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :end_time %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :end_time, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :profile %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :profile, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :avatar %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.file_field :avatar, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :content %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :content, :class => 'form-control'  %>
    </div>
  </div>


  <label class="label-vertical"><%= f.label :accept_users_type %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :accept_users_type, :class => 'form-control'  %>
    </div>
  </div>

  <div class="text-center bottom-btn">
     <input class="btn-primary flex-fluid btn-size-lg btn-round" type="submit" name="commit" value="活动发布" data-disable-with="活动发布">
  </div>
  
<% end %>

</div>
