<style type="text/css">
  .form-vertical .label-vertical {
    margin-bottom: 0;
  }
  .form-group .ui-input {
    margin-bottom: 15px;
    padding-bottom: 0;
  }
  .form-group .ui-input .flex-wrap .form-control {
    width: 100%;
  }
  input[type='file'] {
    opacity: 1;
  }
</style>

<%= form_for [:phone, @color_page], :html => { :class => "form-vertical" } do |f| %>
<div class="form-group">

  <label class="label-vertical"><%= f.label :name %>:</label> 
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :name, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :begin_time %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :begin_time, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :end_time %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :end_time, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :profile %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :profile, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :avatar %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.file_field :avatar, :class => 'form-control', :style => 'padding: 5px 5px 0 0;' %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :content %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :content, :class => 'form-control'  %>
    </div>
  </div>

  <label class="label-vertical"><%= f.label :accept_users_type %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :accept_users_type, :class => 'form-control'  %>
    </div>
  </div>

  <div class="text-center bottom-btn">
    <input class="btn-primary flex-fluid btn-size-lg btn-round" type="submit" name="commit" value="活动发布" data-disable-with="活动发布">
  </div>

</div>
<% end %>
