<style type="text/css">
  .form-group .ui-input .flex-wrap .form-control {
    width: 100%;
  }
  .ui-input--inputFile {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
</style>

<%= form_for [:phone, @color_page], :html => { :class => "form-vertical" } do |f| %>

<div class="form-group">
  <label class="label-vertical"><%= f.label :name %>:</label> 
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :name, :class => 'form-control', :placeholder=>"输入活动名称"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="label-vertical"><%= f.label :time %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :time, :class => 'form-control', :placeholder=>"输入活动时间"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="label-vertical"><%= f.label :address %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :address, :class => 'form-control', :placeholder=>"输入活动地点"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="label-vertical"><%= f.label :avatar %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <input id="inputFileDisplayer" type="text" class="flex-fluid" value="" placeholder="选择活动图片">
      <div class="flex-none">
        <div class="ui-input-file mr10"></div>
      </div>
    </div>
    <%= f.file_field :avatar, :class => 'form-control ui-input--inputFile' %>
  </div>
</div>

<div class="form-group">
  <label class="label-vertical"><%= f.label :content %>:</label>
  <div class="ui-input">
    <div class="flex-wrap">
      <%= f.text_field :content, :class => 'form-control', :placeholder=>"输入活动内容"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="flex-wrap-top">
    <label class="flex-none mr10">活动对象:</label>
    <div class="flex-fluid">
      <span id="userTypeSpan" class="ui-checkbox active">
        全部会员
        <i class="ui-checkbox-tick"></i>
      </span>
    </div>
    <input class="form-control" type="hidden" name="color_page[accept_users_type]" id="color_page_accept_users_type">
  </div>
</div> 

<div class="form-group">
  <div class="text-center bottom-btn">
    <input class="btn-primary flex-fluid btn-size-lg btn-round" type="submit" name="commit" value="活动发布" data-disable-with="活动发布">
  </div>
</div>

<% end %>

<script>
  $(function() {
    var _span = $('#userTypeSpan');
    var _input = $('#color_page_accept_users_type');
    _span.on('click', function(e) {
      e.preventDefault();
      _span.toggleClass('active');
      _input.val(_span.hasClass('active') ? 1 : 0);
    });

    var _file = $('#color_page_avatar');
    var _displayer = $('#inputFileDisplayer')
    _file.on('change', function() {
      _displayer.val(_file.val());
    });

    $('.datetimepicker').datetimepicker({timepicker:false,format:'Y-m-d'});
    $(".datetimepicker").focus(function(){
      document.activeElement.blur();
    });
  });
</script>