<%- model_class = ScoreHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:point) %></th>
      <th><%= model_class.human_attribute_name(:object_type) %></th>
      <th><%= model_class.human_attribute_name(:object_id) %></th>
      <th><%= model_class.human_attribute_name(:oper) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @score_histories.each do |score_history| %>
      <tr>
        <td><%= link_to score_history.id, admin_score_history_path(score_history) %></td>
        <td><%= score_history.point %></td>
        <td><%= score_history.object_type %></td>
        <td><%= score_history.object_id %></td>
        <td><%= score_history.oper %></td>
        <td><%= score_history.user.name %></td>
        <td><%= score_history.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_score_history_path(score_history), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_score_history_path(score_history), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_score_history_path(score_history),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @score_histories %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_score_history_path,
            :class => 'btn btn-primary' %>
