<% content_for :title, "会员中心" %>
<head>
    <title><%= yield(:title) %></title>
</head>
<body class="body-bg">
<div class="header">
    <a class="header-left link" href="">
        广州<span class="caret ml5"></span>
    </a>
    <button class="header-right"><span class="ico-scan"></span></button>
</div>
<!-- header end -->
<div class="container has-top">
    <div class="user-info-header" href="/phone/profiles">
        <div class="user-img-wrap">
            <div class="user-img">
            <a href="/phone/profiles">
                <img <% if @user.headimgurl.blank? %> src="/assets/phone/images/img-user.png" <%else%> src="<%=
                @user.headimgurl %>" <% end %> alt="">
                </a>
            </div>
            <div class="flex-fluid">
                <a class="user-name" href="/phone/profiles"><%= @user.name %><span class="ico-arrow-right2 ml5"></span></a>
                <div class="lever-bar">
                    <span class="ico-lever">
                        <img src="/assets/phone/images/<%= @ico_level %>">
                    </span>
                    <%= @level_name %>
                </div>
                <div class="progress-wrap">
                    <div class="progress">
                        <div class="progress-bar" style="width:<%=  @level_up_per %>%;"></div>
                    </div>
                    <%= @level_up_per %>%
                </div>
            </div>
            <div class="score">

                <a class="my-score" href="/phone/score_queries?pay_type=up">我的积分</a>
                <a class="score-num" href="/phone/score_queries?pay_type=up">
                    <%= @user.score %>
                    <span class="ico-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!--     <%= bootstrap_flash %> %> -->


    <div class="ico-list-wrap">
        <ul class="float-ul wu3 clearfix ico-list">
            
            <li class="float-item">
                <a href="/phone/bonus_changes">
                    <img class="ico-img" src="/assets/phone/images/ico-index2.png" alt="">
                    <div class="ico-name">积分兑换</div>
                </a>
            </li>
            <li class="float-item">
                <a href="javascript:void(0)" onclick="window.location.href='/phone/activities';">
                    <img class="ico-img" src="/assets/phone/images/ico-index1.png" alt="">
                    <div class="ico-name">积分抽奖</div>
                </a>
            </li>
            <li class="float-item">
                <a href="/phone/goods">
                    <img class="ico-img" src="/assets/phone/images/ico-index8.png" alt="">
                    <div class="ico-name">优惠券</div>
                </a>
            </li>
           <!--  <li class="float-item">
                <a href="/phone/score_queries?pay_type=up">
                    <img class="ico-img" src="/assets/phone/images/ico-index3.png" alt="">
                    <div class="ico-name">积分查询</div>
                </a>
            </li> -->
            <li class="float-item">
                <a href="/phone/tech_servs">
                    <img class="ico-img" src="/assets/phone/images/ico-index4.png" alt="">
                    <div class="ico-name">工长助手</div>
                </a>
            </li>
            <li class="float-item">
                <a href="/phone/invitations">
                    <img class="ico-img" src="/assets/phone/images/ico-index5.png" alt="">
                    <div class="ico-name">会员邀请</div>
                </a>
            </li>
            
            <li class="float-item">
                <a href="javascript:void(0)" onclick="window.location.href='/phone/stores?user_latitude='+user_latitude+'&user_longitude='+user_longitude;">
                    <img class="ico-img" src="/assets/phone/images/ico-index6.png" alt="">
                    <div class="ico-name">附近门店</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="block-mt">
        <div class="sub-title">会员专享活动</div>
       <a class="adapt-img" href="<%= @url %>" title="<%= @title %>" target="self">
             <%= image_tag @image.ad_photo.url %>
        </a>
    </div>
</div>
</body>
<% if @fun_type == 'goods_scan' %>
<%= render 'popup2' %>
<% else %>
<%= render 'popup1' %>
<% end %>