  <div class="header">
    <a class="header-left link" href="">
      广州<span class="caret ml5"></span>
    </a>
    <h1>我的信息</h1>
    <button class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->
  <div class="container has-top">
    <!-- <a class="user-info-header" href="/phone/profiles"> -->
    <div class="user-info-header">
      <div class="user-img-wrap">
      <a  href="/phone/profiles">
        <div class="user-img">
          <img src="/assets/phone/images/img-user.png" alt="">
        </div>
        </a>  
        <div class="flex-fluid">
          <div class="user-name"><%= @user.name %></div>
          <div class="mt10">
            <div class="lever-bar">
              <i class="ico-lever"></i>
              等级LV<%= @user.level %>
            </div>
            <div class="progress-wrap ml5">
              <div class="small">60%</div>
              <div class="progress">
                <div class="progress-bar" style="width:60%;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="score">
          积分:<%= @user.score %>
        </div>
      </div>
      </div>
   <!--  </a>   -->
    <div class="block-mt">
      <ul class="float-ul wu3 clearfix ico-list">
        <li class="float-item">
          <a href="javascript:void(0)" onclick="window.location.href='/phone/activities';">
            <img class="ico-img" src="/assets/phone/images/ico-index1.png" alt="">
            <div class="ico-name">营销活动</div>
          </a>
        </li>
        <li class="float-item">
          <a href="/phone/bonus_changes">
            <img class="ico-img" src="/assets/phone/images/ico-index2.png" alt="">
            <div class="ico-name">积分兑换</div>  
          </a>
        </li>
        <li class="float-item">
          <a href="/phone/score_queries">
            <img class="ico-img" src="/assets/phone/images/ico-index3.png" alt="">
            <div class="ico-name">积分查询</div>  
          </a>
        </li>
        <li class="float-item">
          <a href="/phone/goods">
            <img class="ico-img" src="/assets/phone/images/ico-index4.png" alt="">
            <div class="ico-name">商品查询</div>  
          </a>
        </li>
        <li class="float-item">
          <a id="showUser2Code">
            <img class="ico-img" src="/assets/phone/images/ico-index5.png" alt="">
            <div class="ico-name">邀请好友</div>  
          </a>
        </li>
        <li class="float-item">
          <a href="/phone/tech_servs">
            <img class="ico-img" src="/assets/phone/images/ico-index6.png" alt="">
            <div class="ico-name">技术服务</div>  
          </a>
        </li>
        <li class="float-item">
          <a href="/phone/stores">
            <img class="ico-img" src="/assets/phone/images/ico-index6.png" alt="">
            <div class="ico-name">门店查询</div>  
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- container end -->
  <div class="popup-wrap" id="user2code" style="display: none">
    <div class="popup">
      <button class="close" type="button" id="hideUser2Code">
        <i class="ico-close"></i>
      </button>
      <div class="user-img-wrap">
        <div class="user-img">
          <img src="/assets/phone/images/img-user.png" alt="">
        </div>
        <div class="flex-fluid">
          <div class="user-name"><%= @user.name %></div>
          <div class="f12">广东&nbsp;&nbsp;海珠<i class="ico-user3 ml10"></i></div>
        </div>
      </div>
      <div class="code-2d-wrap">
        <img class="img-2dcode" src="/uploads/user/mem_activation/user2code_<%= @user.id %>.png" alt="">
        <div class="text-center text-danger code-btm-tips">扫一扫二维码加入会员</div>
      </div>
      
    </div>
    <div class="popup-bg"></div>
  </div>