<% @users = User.all %>

<div class="modal fade" id="modal_set_admin" tabindex="-1" role="dialog" aria-labelledby="modal_set_admin-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modal-users-title">选择用户</h4>
      </div>
      <div class="modal-body">

        <div class="form-inline" style="margin-bottom: 10px;">
          <div class="form-group" style="margin-right: 10px;">
            <label for="modelSetAdmin--inputName">姓名：</label>
            <input type="text" class="form-control" id="modelSetAdmin--inputName" placeholder="">
          </div>
          <div class="form-group" style="margin-right: 10px;">
            <label for="modelSetAdmin--inputPhone">电话：</label>
            <input type="text" class="form-control" id="modelSetAdmin--inputPhone" placeholder="">
          </div>
          <button class="btn btn-warning" id="modelSetAdmin--buttonSearch">搜索</button>
        </div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>电话</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="tbody--usersOfStore">
            <% @users.each do |user| %>
            <tr class="select" data-user_id="<%= user.id %>" >
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.phone_num %></td>
              <td><a onclick="set_store_admin($('#store_id').val(),<%= user.id %>)" class="btn btn-primary btn-xs" href="javascript:void(0)">设置</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick = "clearValue('#_sys_awardaccept_cfgs')">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
  $(function() {
    var $name   = $('#modelSetAdmin--inputName');
    var $phone  = $('#modelSetAdmin--inputPhone');
    var $search = $('#modelSetAdmin--buttonSearch');
    var $tbody  = $('#tbody--usersOfStore');
    var _trHtml = [
      '<tr class="select" data-user_id="_USER_ID_" >',
        '<td>_USER_ID_</td>',
        '<td>_USER_NAME_</td>',
        '<td>_USER_PHONE_NUM_</td>',
        '<td><a onclick="set_store_admin($(\'#store_id\').val(), _USER_ID_)" class="btn btn-primary btn-xs" href="javascript:void(0)">设置</a></td>',
      '</tr>'
    ].join('');

    $search.on('click', function() {
      $.ajax({
        url: '/admin/users_of_store',
        method: 'GET',
        data: {
          name: $name.val(),
          phone: $phone.val()
        },
        success: function(res) {
          var _html = '';
          var users = res.data;
          var user  = null;
          for(var i = 0, L = users.length; i < L; i++) {
            user = users[i];

            // 高亮筛选条件
            var _nameLight = user.name.replace(new RegExp($name.val(), 'g'), "<span class='text-danger bg-danger'>" + $name.val() + "</span>")  
            var _phoneLight = user.phone_num.replace(new RegExp($phone.val(), 'g'), "<span class='text-danger bg-danger'>" + $phone.val() + "</span>")
            
            _html += _trHtml.replace(/_USER_ID_/g, user.id)
              .replace(/_USER_NAME_/i, _nameLight)
              .replace(/_USER_PHONE_NUM_/i, _phoneLight)
          }
          $tbody.html(_html);
        },
      });

    });    
  });
</script>