<%- model_class = Store -%>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">门店详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:code) %>:
                        </th>
                        <td>
                            <%= @store.code %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:catalog) %>:
                        </th>
                        <td>
                            <%= @store.catalog %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:name) %>:
                        </th>
                        <td>
                            <%= @store.name %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:district) %>:
                        </th>
                        <td>
                            <%= @store.district %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:city) %>:
                        </th>
                        <td>
                            <%= @store.city %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:province) %>:
                        </th>
                        <td>
                            <%= @store.province %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:country) %>:
                        </th>
                        <td>
                            <%= @store.country %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:latitude) %>:
                        </th>
                        <td>
                            <%= @store.latitude %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:longitude) %>:
                        </th>
                        <td>
                            <%= @store.longitude %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:addr) %>:
                        </th>
                        <td>
                            <%= @store.addr %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:linkman) %>:
                        </th>
                        <td>
                            <%= @store.linkman %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:contact_num) %>:
                        </th>
                        <td>
                            <%= @store.contact_num %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            二维码:
                        </th>
                        <td>
                            <img src="<%= @store.qrcode %>" alt="QR code">
                        </td>
                        <th>
                        </th>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
        <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_stores_path, :class => 'btn btn-default'  %>
            </div>
        </div>
    </div>

</div>

