<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">会员分组详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            城市:
                        </th>
                        <td>
                            <%= @mem_group.city %>
                        </td>
                        <th>
                            省份:
                        </th>
                        <td>
                            <%= @mem_group.province %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            国家:
                        </th>
                        <td>
                            <%= @mem_group.country %>
                        </td>
                        <th>
                        </th>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
                <%= link_to '编辑', edit_admin_mem_group_path(@mem_group),:class=>'btn btn-warning mr10'%>
                <%= link_to '返回', admin_mem_groups_path,:class=>'btn btn-default mr10' %>
            </div>
        </div>
    </div>

</div>

