<p id="notice"><%= notice %></p>

<p>
  <strong>城市:</strong>
  <%= @mem_group.city %>
</p>

<p>
  <strong>省份:</strong>
  <%= @mem_group.province %>
</p>

<p>
  <strong>国家:</strong>
  <%= @mem_group.country %>
</p>

<%= link_to '编辑', edit_admin_mem_group_path(@mem_group) %> |
<%= link_to '返回', admin_mem_groups_path %>
