	<div class="header">
		<a class="header-left" href="/phone/homepages">
			<span class="ico-header-back"></span>
		</a>
		<h1>产品介绍</h1>
		<button class="header-right condition-btn" onclick="show_hide_goods_catalog()"><span class="ico-condition"></span></button>
		<!-- <button class="header-right condition-btn"><span class="ico-condition"></span></button> -->
		<div class="condition-group goods-catalog-cond" hidden>
			<ul class="float-ul clearfix wu3">
			<% @goods_catalogs.each do |goods_catalog| %>
		 		<%	if !@goods_catalog_id.blank? && @goods_catalog_id.to_s ==goods_catalog.id.to_s %>
					<li class="float-item">
						<!-- <a class="condition-item active" href=""><%= goods_catalog.name %></a> -->
							<%= link_to  goods_catalog.name , { :controller => 'goods',:action => 'index', 
								:goods_catalog_id =>goods_catalog.id  }, :class =>'condition-item active' %>
					</li>
				<%	else %>
					<li class="float-item active">
							<%= link_to  goods_catalog.name , { :controller => 'goods',:action => 'index', 
								:goods_catalog_id =>goods_catalog.id }, :class =>'condition-item' %>
					</li>
				<% end -%>
			<% end -%>
			</ul>
		</div>
	</div>
	<!-- header end -->
	<div class="container has-top">
		<div class="data-list block-mt provide-list">
    	<% @goods.each do |good| %>
    		<a class="data-item" href="<%= phone_good_path(good) %>">
				<img class="provide-img" src="<%= good.avatar %>" alt="">
				<div class="flex-fluid">
					<div class="mt10">
						<%= good.name %>
					</div>
					<!-- 请控制字数 -->
					<div class="mt10">
						<span class="text-gray f12">市场价：</span>
						<span class="price"><%= good.price %></span>
					</div>
				</div>
			</a>
		<% end %>
		</div>
		<div class="text-center block-mt">加载完成</div>
	</div>