<% content_for :title, "我的优惠券" %>

<body class="body-bg">
  <div class="header">
    <a  class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
      <span class="ico-header-back"></span>
    </a>
    <button id="scan" class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->
  <div class="container has-top">
    <ul class="brick-tabs mb10">
      <li class="<% if @c_type=='unused'%>active<%end%>" >
        <a href="<%=phone_coupon_instances_path(c_type: 'unused')%>">未使用</a>
      </li>
      <li class="<% if @c_type=='used'%>active<%end%>" >
        <a href="<%=phone_coupon_instances_path(c_type: 'used')%>">已使用</a>
      </li>
      <li class="<% if @c_type=='invalid'%>active<%end%>" >
        <a href="<%=phone_coupon_instances_path(c_type: 'invalid')%>">已过期</a>
      </li>
    </ul>
    <div class="my-coupon-wrap">
      <ul class="exchange-coupon-list">
      <%@coupon_instances.each do |ci|%>
        <li class="exchage-coupon-item">
          <div class="flex-wrap">
            <div class="flex-none mr10">
              <img src="/assets/phone/images/img-coupon-logo.png" class="img-circle r54">
            </div>
            <div class="flex-fluid">
              <div class="exchange-coupon-tit"><%=ci.coupon.name%></div>
              <div class="need-score">
                <span class="need-score-num"><%=ci.coupon.score%></span>
                积分
              </div>
              <div class="text-center mt10">
                <a class="btn-default-rever-hllow btn-round" href="<%=phone_coupon_instance_path(ci)%>">查看详情</a> 
              </div>
              <div class="effective-time"><%=ci.coupon.effect_time.strftime('%Y-%m-%d')+"至"+ci.coupon.invalid_time.strftime('%Y-%m-%d')%></div>
            </div>
          </div>
        </li>
      <%end%>
      </ul>
    </div>
    <div class="load-tips">更多优惠卷陆续添加中</div>
  </div>

</body>
