<div class="login-wrap">
  <div class="login-box">
    <div class="brand-logo-wrap">
      <%= image_tag("/assets/admin/images/logo.png")%>  
      <div class="brand-name">会员积分系统</div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
    <!-- <form class="login-form"> -->
      <div class="vertical-input-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user text-gray"></span>
          </span>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <!-- <input class="form-control" type="text" name="" > -->
        </div>
      
        <div class="input-group  input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock text-gray"></span>
          </span>
           <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          <!-- <input class="form-control" type="text" name=""> -->
        </div>
      </div>
<!--       <div class="mt10 alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-remove"></span>
        <span>密码错误，请重新输入</span>
      </div> -->
      <!-- <div class="mt10 alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span>密码错误，请重新输入</span>
      </div>
      <div class="mt10 alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-ok"></span>
        <span>密码错误，请重新输入</span>
      </div> -->
      <div class="mt20">
        <!-- <button class="btn btn-warning btn-block btn-lg" type="button">登录</button> -->
         <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-warning btn-block btn-lg' %>
        <% end %>
      </div>
    <!-- </form>  -->
  </div>
</div>
