<%= form_for [:admin, @lottery], :html => { :class => "form-horizontal lottery" } do |f| %>

  <% if @lottery.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lottery.errors.count, "error") %> prohibited this lottery from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lottery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">新增会员中奖纪录</div>
    </div>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="clearfix form-list">
          <label class="col-xs-2 control-label" for=""><%= f.label :activity_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :activity_id, :class => 'form-control' %>
            <%=f.error_span(:activity_id) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :activity_name %></label>
          <div class="col-xs-4">
            <%= f.text_field :activity_name, :class => 'form-control' %>
            <%=f.error_span(:activity_name) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :winning %></label>
          <div class="col-xs-4">
            <%= f.text_field :winning, :class => 'form-control' %>
            <%=f.error_span(:winning) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :activity_award_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :activity_award_id, :class => 'form-control' %>
            <%=f.error_span(:activity_award_id) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :activity_award_cfg_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :activity_award_cfg_id, :class => 'form-control' %>
            <%=f.error_span(:activity_award_cfg_id) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :activity_award_cfg_name %></label>
          <div class="col-xs-4">
            <%= f.text_field :activity_award_cfg_name, :class => 'form-control' %>
            <%=f.error_span(:activity_award_cfg_name) %>
          </div>
          <label class="col-xs-2 control-label" for="">
          <%= f.label :user_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :user_id, :class => 'form-control' %>
            <%=f.error_span(:user_id) %>
          </div>
        </div>
      </form>
      <div class="block-mt">
        <%= f.submit nil, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_lotteries_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
  
</div>

<% end %>
