<%- model_class = Lottery -%>
<div class="page-header">
  <h1>会员中奖列表</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name(:activity_id) %></th>
      <th><%= model_class.human_attribute_name(:activity_name) %></th>
      <th><%= model_class.human_attribute_name(:winning) %></th>
      <th><%= model_class.human_attribute_name(:activity_award_id) %></th>
      <th><%= model_class.human_attribute_name(:activity_award_cfg_id) %></th>
      <th><%= model_class.human_attribute_name(:activity_award_cfg_name) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lotteries.each do |lottery| %>
      <tr>
        <!-- <td><%= link_to lottery.id, admin_lottery_path(lottery) %></td> -->
        <td><%= lottery.activity_id %></td>
        <td><%= lottery.activity_name %></td>
        <td><%= lottery.winning %></td>
        <td><%= lottery.activity_award_id %></td>
        <td><%= lottery.activity_award_cfg_id %></td>
        <td><%= lottery.activity_award_cfg_name %></td>
        <td><%= lottery.user.name %></td>
        <td><%= lottery.created_at.strftime('%Y-%m-%d %H:%M:%S')  %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_lottery_path(lottery), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_lottery_path(lottery), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_lottery_path(lottery),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '您确认?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @lotteries %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_lottery_path,
            :class => 'btn btn-primary' %>
