<%- model_class = QrCodeScanHistory -%>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">商品详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:user_id) %>:
                        </th>
                        <td>
                            <%= @qr_code_scan_history.user_id %>
                        </td>
					</tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:good_id) %>:
                        </th>
                        <td>
                            <%= @qr_code_scan_history.good_id %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:good_instance_id) %>:
                        </th>
                        <td>
                            <%= @qr_code_scan_history.good_instance_id %>
                        </td>
					</tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:score) %>:
                        </th>
                        <td>
                            <%= @qr_code_scan_history.score %>
                        </td>
					</tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:status) %>:
                        </th>
                        <td>
                            <%= @qr_code_scan_history.status %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
<!--                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_admin_qr_code_scan_history_path(@qr_code_scan_history), :class => 'btn btn-warning mr10' %> -->
                <%= link_to t('.back', :default => t("helpers.links.back")),
                admin_qr_code_scan_histories_path, :class => 'btn btn-default mr10'  %>
            </div>
        </div>
    </div>

</div>

