<%= form_for [:admin, @goods_catalog], :html => { :class => "form-horizontal goods_catalog" } do |f| %>

  <% if @goods_catalog.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@goods_catalog.errors.count, "error") %> prohibited this goods_catalog from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @goods_catalog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- -->

 <div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">编辑商品分类</div>
    </div>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="clearfix form-list">
          <label class="col-xs-1 control-label" for="">
          <%= f.label :code %></label>
          <div class="col-xs-3">
            <%= f.text_field :code, :class => 'form-control' %>
            <%=f.error_span(:code) %>
          </div>
          <label class="col-xs-1 control-label" for=""><%= f.label :name %>
          </label>
          <div class="col-xs-3">
            <%= f.text_field :name, :class => 'form-control' %>
            <%=f.error_span(:name) %>
          </div>
        </div>
      </form>
      <div class="block-mt">
        <%= f.submit nil, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_goods_catalogs_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<% end %>
