<p id="notice"><%= notice %></p>

<p>
  <strong>编码:</strong>
  <%= @goods_catalog.code %>
</p>

<p>
  <strong>名称:</strong>
  <%= @goods_catalog.name %>
</p>

<%= link_to '编辑', edit_admin_goods_catalog_path(@goods_catalog) %> |
<%= link_to '返回', admin_goods_catalogs_path %>
