<% content_for :title, "积分兑换" %>

<body class="body-bg">
  <div class="header">
    <a  class="header-left" href="javascript:void(0)" onclick="window.location.href='/phone/homepages';">
      <span class="ico-header-back"></span>
    </a>
    <button id="scan" class="header-right"><span class="ico-scan"></span></button>
  </div>
  <!-- header end -->
  <div class="container has-top score-exchange-wrap">
    <div class="flex-wrap-between score-exchange-title">
      <div class="flex-fluid current">
        积分
        <span class="ico-score"></span>:
        <%= @user.score %>
      </div>
      <div>
        <a href="/phone/score_queries?pay_type=down">
          <span class="ico-record"></span>
          兑换记录
        </a>
      </div>
    </div>
    <div class="score-exchange">
      <div class="score-exchange-left">
        <ul class="exchange-tit-list">
          <li>
            <a href="/phone/bonus_changes">
              <img class="tit-img" src="/assets/phone/images/img-redpacket.png" alt="">
              <div>红包</div>
            </a>
          </li>
          <li class="active">
            <a href="/phone/coupons">
              <img class="tit-img" src="/assets/phone/images/img-new-coupon.png">
              <div>优惠券</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="score-exchange-right">
        <div>
          <ul class="exchange-coupon-list">
            <% @coupons.each do |coupon| %>
            <li class="exchage-coupon-item">
              <div class="flex-wrap">
                <div class="flex-none mr10">
                  <img src="/assets/phone/images/img-coupon-logo.png" class="img-circle r54">
                </div>
                <div class="flex-fluid">
                  <div class="exchange-coupon-tit"><%=coupon.name%></div>
                  <div class="need-score">
                    <span class="need-score-num"><%=coupon.score%></span>
                    积分
                  </div>
                  <div class="text-center mt10">
                  <%= link_to "立即兑换",
                            new_phone_score_query_path(:fun_type => "coupons_change", :coupon_id => coupon.id),
                            :class => "btn-default-rever-hllow btn-round" %>
                  </div>
                  <div class="effective-time"><%=coupon.effect_time.strftime('%Y-%m-%d')+"至"+coupon.invalid_time.strftime('%Y-%m-%d')%></div>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
          <div class="load-tips">更多优惠卷陆续添加中</div>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'popup' %>
</body>
