<%- model_class = TechServ -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tech_servs.each do |tech_serv| %>
      <tr>
        <td><%= link_to tech_serv.id, admin_tech_serv_path(tech_serv) %></td>
        <td><%= raw tech_serv.content %></td>
        <td><%= tech_serv.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_tech_serv_path(tech_serv), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_tech_serv_path(tech_serv), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_tech_serv_path(tech_serv),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tech_servs %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_tech_serv_path,
            :class => 'btn btn-primary' %>
