<h1>Listing tech_servs</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_servs.each do |tech_serv| %>
      <tr> 
        <td><%= raw tech_serv.content %></td>
        <td><%= link_to 'Show', [:admin, tech_serv] %></td>
        <td><%= link_to 'Edit', edit_admin_tech_serv_path(tech_serv) %></td>
        <td><%= link_to 'Destroy', [:admin, tech_serv], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech serv', new_admin_tech_serv_path %>
