<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">会员等级详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            编码:
                        </th>
                        <td>
                            <%= @mem_level.code %>
                        </td>
                        <th>
                            名称:
                        </th>
                        <td>
                            <%= @mem_level.name %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            级别:
                        </th>
                        <td>
                            <%= @mem_level.level %>
                        </td>
                        <th>
                            积分:
                        </th>
                        <td>
                            <%= @mem_level.score %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
                <%= link_to '编辑', edit_admin_mem_level_path(@mem_level),:class=>'btn btn-warning mr10'%>
                <%= link_to '返回', admin_mem_levels_path,:class=>'btn btn-default mr10' %>
            </div>
        </div>
    </div>

</div>

