<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">编辑用户</div>
    </div>
    <div class="panel-body">
      <!-- <form action="" class="form-horizontal"> -->
        <div class="clearfix form-list">
          <label class="col-xs-2 control-label" for=""><%= f.label :name %></label>
          <div class="col-xs-4">
            <%= f.text_field :name, :class => 'form-control' %>
            <%=f.error_span(:name) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :code %></label>
          <div class="col-xs-4">
            <%= f.text_field :code, :class => 'form-control' %>
            <%=f.error_span(:code) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :email %></label>
          <div class="col-xs-4">
            <%= f.text_field :email, :class => 'form-control' %>
            <%=f.error_span(:email) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :level%></label>
          <div class="col-xs-4">
            <%= f.text_field :level, :class => 'form-control' %>
            <%=f.error_span(:level) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :score %></label>
          <div class="col-xs-4">
            <%= f.text_field :score, :class => 'form-control' %>
            <%=f.error_span(:score) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label '性别' %></label>
          <div class="col-xs-4">
              <select name="user[sex]" id="user_sex" class="form-control">
                <% if @user.sex == "0" %>
                <option value="0" selected>男</option>
                <option value="1">女</option>
                 <% else @user.sex == "1"  %>
                  <option value="0">男</option>
                <option value="1" selected>女</option>
                <% end %>
              </select>
            <!-- <%= f.text_field :sex, :class => 'form-control' %> -->
              <%=f.error_span(:sex) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :birthday %></label>
          <div class="col-xs-4">
            <%= f.text_field :birthday, :class => 'form-control datetimepicker' %>
            <%=f.error_span(:birthday) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :phone_num %></label>
          <div class="col-xs-4">
            <%= f.text_field :phone_num, :class => 'form-control' %>
            <%=f.error_span(:phone_num) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :score_total %></label>
          <div class="col-xs-4">
            <%= f.text_field :score_total, :class => 'form-control' %>
            <%=f.error_span(:score_total) %>
          </div>
<!--            <label class="col-xs-2 control-label" for=""><%= f.label :mem_group_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :mem_group_id, :class => 'form-control' %>
            <%=f.error_span(:mem_group_id) %>
          </div> -->
           <!-- <label class="col-xs-2 control-label" for=""><%= f.label :是否管理员 %></label> -->
<!--           <div class="col-xs-4">
          <select name="user[admin]" id="user_admin" class="form-control">
                <% if @user.admin == false %>
                <option value="true" selected>否</option>
                <option value="flase">是</option>
                 <% else @user.admin == true  %>
                  <option value="true" selected>是</option>
                <option value="false">否</option>
                <% end %>
              </select> -->
            <!-- <%= f.text_field :admin, :class => 'form-control' %> -->
<!--             <%=f.error_span(:admin) %>
          </div> -->
<!--          <label class="col-xs-2 control-label" for=""><%= f.label :district %></label>
          <div class="col-xs-4">
            <%= f.text_field :district, :class => 'form-control' %>
            <%=f.error_span(:district) %>
          </div>  -->
          <label class="col-xs-2 control-label" for=""><%= f.label :city %></label>
          <div class="col-xs-4">
            <%= f.text_field :city, :class => 'form-control' %>
            <%=f.error_span(:city) %>
          </div>
<!--          <label class="col-xs-2 control-label" for=""><%= f.label :province %></label>
          <div class="col-xs-4">
            <%= f.text_field :province, :class => 'form-control' %>
            <%=f.error_span(:province) %>
          </div>
         <label class="col-xs-2 control-label" for=""><%= f.label :country %></label>
          <div class="col-xs-4">
            <%= f.text_field :country, :class => 'form-control' %>
            <%=f.error_span(:country) %>
          </div> -->
           <label class="col-xs-2 control-label" for=""><%= f.label :referee_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :referee_id, :class => 'form-control' %>
            <%=f.error_span(:referee_id) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :store_id %></label>
          <div class="col-xs-4">
            <%= f.text_field :store_id, :class => 'form-control' %>
            <%=f.error_span(:store_id) %>
          </div>
<!--           <label class="col-xs-2 control-label" for=""><%= f.label :status %></label>
          <div class="col-xs-4">
            <%= f.text_field :status, :class => 'form-control' %>
            <%=f.error_span(:status) %>
          </div> -->
        <!-- </form> -->
      <div class="block-mt">
        <%= f.submit nil, :class => 'btn btn-warning' %>
        <a  class="btn btn-default" href="javascript:void(0);" 
        onclick=window.location.href="<%= admin_users_path%>" >取消
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>
  <script type="text/javascript">
  $(document).ready(function(){
    $.datetimepicker.setLocale('zh');
    $('.datetimepicker').datetimepicker({timepicker:false,format:'Y-m-d'});
  })
  </script>

