<%- model_class = User -%>
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">会员列表</div>
    </div>
    <div class="panel-body">
    <%= render 'search_form' %>
<div class="table-responsive block-mt">
        <table class="table table-striped">
          <colgroup>
            <col width="20%">
          </colgroup>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th class="text-nowrap"><%= model_class.human_attribute_name(:name) %></th>
      <!-- <th><%= model_class.human_attribute_name(:email) %></th> -->
      <th class="text-nowrap"><%= model_class.human_attribute_name(:score) %></th>
      <th class="text-nowrap"><%= model_class.human_attribute_name(:score_total) %></th>
      <th class="text-nowrap"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="text-nowrap"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!-- <td><%= link_to user.id, admin_user_path(user) %></td> -->
        <td><%= user.name %></td>
        <!-- <td><%= user.email %></td> -->
        <td><%= user.score %></td>
        <td><%= user.score_total %></td>
        <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <% if user.status != "00H" %>
        <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-users" data-mem_group=<%= user.mem_group_id %> data-user=<%= user.id %> >
          切换分组
        </button>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_user_path(user), :class => 'btn btn-default btn-xs' %>
 <!--          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_user_path(user), :class => 'btn btn-default btn-xs' %> -->
         <!--  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '您确认?')) },
                      :class => 'btn btn-warning btn-xs mr5' %> -->
        <button type="button" class="btn btn-warning btn-xs mr5 lock-user-btn"  data-user=<%= user.id %> data-status=<%= user.status %>  >
        <span class='lock-text' style="display: <% if user.status == '00X' %>none<%end%>" >冻结</span>
        <span class='unlock-text' style="display: <% if user.status == '00A' %>none<%end%>">恢复</span>
        </button>
         <button type="button" class="btn btn-warning btn-xs mr5 close-user-btn"  data-user=<%= user.id %>  >注销
        </button>
        </td>
        <% else %>
        <td>
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      admin_user_path(user), :class => 'btn btn-default btn-xs' %>
            <button type="button" class="btn btn-warning btn-xs mr5 " > 已注销
        </button>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            #new_admin_good_path
            'javascript:void(0);',
            :disabled => true,
            :class => 'btn btn-warning' %>
        <!--  切换分组 modal -->
        <%= render :partial => 'modal_users' %>
</div>
<%= paginate @users %>
  </div>
            </div>

        </div>
<script type="text/javascript">
  $(document).ready(function(){
        (function() {
      $(function() {
        $('.lock-user-btn').click(function() {
          var status, that, url, user_id;
          that = $(this);
          user_id = $(this).data('user');
          status = $(this).data('status');
          if (status === '00A') {
            status = '00X';
          } else if (status === '00X') {
            status = '00A';
          }
          url = '/admin/users/' + user_id + '.json';
          return $.ajax(url, {
            type: 'patch',
            dataType: 'json',
            data: {
              user: {
                status: status
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              return console.log("AJAX Error: " + textStatus);
            },
            success: function(data, textStatus, jqXHR) {
              that.data('status', status);
              if (status === '00A') {
                that.children('.unlock-text').hide();
                return that.children('.lock-text').show();
              } else if (status === '00X') {
                that.children('.lock-text').hide();
                return that.children('.unlock-text').show();
              }
            }
          });
        });
        return $('.close-user-btn').click(function() {
          var status, url, user_id;
          if (confirm("确定注销?")) {
            user_id = $(this).data('user');
            status = '00H';
            url = '/admin/users/' + user_id + '.json';
            return $.ajax(url, {
              type: 'patch',
              dataType: 'json',
              data: {
                user: {
                  status: status
                }
              },
              error: function(jqXHR, textStatus, errorThrown) {
                return console.log("AJAX Error: " + textStatus);
              },
              success: function(data, textStatus, jqXHR) {
                alert("注销成功");
                console.log("AJAX success: " + data.msg);
                return window.location.reload();
              }
            });
          }
        });
      });

    }).call(this);

    
  })
</script>

        <!--  切换分组 modal end -->
