<%- model_class = User -%>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">用户详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:name) %>:
                        </th>
                        <td>
                            <%= @user.name %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:email) %>:
                        </th>
                        <td>
                            <%= @user.email %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:level) %>:
                        </th>
                        <td>
                            <%= @user.level %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:admin) %>:
                        </th>
                        <td>
                            <%= @user.admin %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:score) %>:
                        </th>
                        <td>
                            <%= @user.score %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:code) %>:
                        </th>
                        <td>
                            <%= @user.code %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:sex) %>:
                        </th>
                        <td>
                            <% Const::SelectOption::USER_SEX.each_with_index do |(key,value), index| %>
                            <% if @user.sex== value %>
                            <%= key %>
                            <% end %>
                            <% end %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:birthday) %>:
                        </th>
                        <td>
                            <%= @user.birthday %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:phone_num) %>:
                        </th>
                        <td>
                            <%= @user.phone_num %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:score_total) %>:
                        </th>
                        <td>
                            <%= @user.score_total %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:mem_group_id) %>:
                        </th>
                        <td>
                            <%= @user.mem_group_id %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:district) %>:
                        </th>
                        <td>
                            <%= @user.district %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:city) %>:
                        </th>
                        <td>
                            <%= @user.city %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:province) %>:
                        </th>
                        <td>
                            <%= @user.province %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:country) %>:
                        </th>
                        <td>
                            <%= @user.country %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:referee_id) %>:
                        </th>
                        <td>
                            <%= @user.referee_id %>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:status) %>:
                        </th>
                        <td>
                            <% Const::SelectOption::USER_STATUS.each_with_index do |(key,value), index| %>
                            <% if @user.status == value %>
                            <%= key %>
                            <% end %>
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
                <% if current_user.admin == 1%>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_admin_user_path(@user), :class => 'btn btn-warning mr10' %>
                <%end%>
                <a class="btn btn-default mr10" href="javascript:void(0);"
                   onclick=window.location.href="<%= admin_users_path%>" >返回
                </a>
            </div>
        </div>
    </div>

</div>

