
<%= form_for(phone_mem_activations_path,html: { class: "mem-avctivate-form" })   do |f| %> 


  <div class="container has-top">
    <div class="menber-card-wrap">
      <div class="adapt-img">
        <img src="/assets/phone/images/menber-card.png" alt="">
      </div>
    <ul class="data-list input-info">
      <li class="data-item">
      <span class="ico-user2 flex-none"></span>
      <%= text_field_tag "user[phone_num]", nil, class: "flex-fluid", placeholder: "请输入手机号码", id: "recv_num" %>
      </li>
        <%=f.error_span(:phone_num) %>

        <li class="data-item">
      <span class="ico-birth mr10"></span>
      <input type="text" id="datePicker" name="user[birthday]" class="datetimepicker" placeholder="请选择生日"/>
      </li>

      <li class="data-item">
      <span class="ico-psw flex-none"></span>
      <%= text_field_tag "sms_content", nil, class: "flex-fluid", placeholder: "请输入验证码" %>
      <a id="getSmsCode" class="text-primary">获取验证码</a>
      <span class="code-reload countdown_wrap" style="display: none"><span class="countdown_num">60</span>s后重新获取</span>
       
      </li>
       <%=f.error_span(:sms_content) %>
    </ul>
   <%= hidden_field_tag 'user[referee_id]', @referee_id %>
   <%= hidden_field_tag 'user[store_id]', @store_id %>
   <%= hidden_field_tag 'good_instance_code',params[:good_instance_code] %>
   <%= hidden_field_tag 'store_id',params[:store_id] %>
    <div class="text-center bottom-btn" id="submit_activation">

    <button id="ActiveButton" type="button" class="btn-primary btn-size-lg btn-round">激活会员卡<button> 

      <!-- <button class="btn-primary flex-fluid btn-size-lg">激活会员卡</button> -->
    </div>  
  </div>
 <% end %>
  <!-- 积分退换提示弹窗 -->
   
  <div class="popup-wrap activation_popup_wrap" <% if (flash[:notice] == "ma_smscode_not_exist") || 
  (flash[:notice] == "ma_smscode_error")  || (flash[:notice] == "ma_save_fail") || (flash[:notice] == "ma_deny_user") %>style="display:;" 
  <% else %> style="display:none;"  <% end %> >  
    <div class="popup has-title">
      <div class="popup-title">
        <button class="close" type="button">
          <i class="ico-close notice_close_btn"></i>
        </button>
        温馨提示
      </div>
      <div class="popup-main text-center">
        <div class="text-import f16 mb5">
        <i class="ico-error mr5"></i>
        <% if flash[:notice] == "ma_smscode_not_exist" %>验证码不存在
        <% elsif  flash[:notice] == "ma_smscode_error" %>验证码错误
        <% elsif  flash[:notice] == "ma_save_fail" %>保存失败
        <% elsif  flash[:notice] == "ma_deny_user" %>用户禁止登录
         <% end %> 
        </div>
        <!-- <div class="text-import f16 mb5">
        <i class="ico-right mr5"></i>积分兑换成功！
        </div> -->
        <!-- 选择上面其中一个提示 -->
        <!-- <div class="f12">积分余额不足</div> -->
      </div>
      <div class="popup-foot flex-wrap">
        <a class="flex-fluid a-button notice_close_btn" href="">确定</a>
      </div>
      
    </div>
    <div class="popup-bg"></div>
  </div>

  <script type="text/javascript">
  function valid_form (){
          if ('' === $('#recv_num').val()) {
            alert("接受号码不能为空");
            return false;
          }
          if (!/^1\d{10}$/.test($('#recv_num').val())) {
            alert("号码格式不对");
            return false;
          }
         
          return true;
        }
  $(document).ready(function(){
      //     (function() {
      // $(function() {
        $('#getSmsCode').click(function() {
          var liftOff;
          if(!valid_form()) return 

          $.ajax('/phone/sms_sends', {
            type: 'POST',
            dataType: 'json',
            data: {
              sms_send: {
                recv_num: $('#recv_num').val()
              }
            },
            success: function(data, textStatus, jqXHR) {
              if ('200' === data.retcode) {
                $('#getSmsCode').hide();
                $('.countdown_wrap').show();
                $('.countdown_num').countdown({
                  until: '+60',
                  compact: true,
                  format: 's',
                  onExpiry: liftOff
                });
              } else {

              }
              return alert(data.msg);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              //return alert(textStatus);
            }
          });
          liftOff = function() {
            $('.countdown_wrap').hide();
            $('#getSmsCode').show();
            return $('.countdown_num').countdown('destroy');
          };
        });
        $('.notice_close_btn').click(function() {
          return $('.activation_popup_wrap').hide();
        });
        $('#ActiveButton').click(function() {
            if(valid_form() == true){
              if ('' === $('#sms_content').val()) {
                  alert("验证码不能为空");
                  return false;
                }
              $(".mem-avctivate-form").submit();
            }
            else {
              return false
            }
        })
        $('.datetimepicker').datetimepicker({timepicker:false,format:'Y-m-d'});
        $(".datetimepicker").focus(function(){
          document.activeElement.blur();
        });
        
      });

    
  </script>

