
<%= form_for(phone_mem_activations_path) do |f| %> 


  <div class="container has-top">
    <div class="menber-card-wrap">
      <img class="card-img" src="/assets/phone/images/menber-card.png" alt="">
    </div>
  

    <ul class="data-list block-mt">
      <li class="data-item">
      <%= text_field_tag "user[phone_num]", nil, class: "flex-fluid", placeholder: "请输入手机号码", id: "recv_num" %>
     
      </li>
        <%=f.error_span(:phone_num) %>
    
      <li class="data-item">
      <%= text_field_tag "sms_content", nil, class: "flex-fluid", placeholder: "请输入验证码" %>
      <a id="getSmsCode">获取随机码</a>
      <span class="code-reload countdown_wrap" style="display: none"><span class="countdown_num">60</span>s后重新获取</span>
       
      </li>
       <%=f.error_span(:sms_content) %>
    </ul>
   <%= bootstrap_flash %>
   <%= hidden_field_tag 'user[referee_id]', @referee_id %>
   <%= hidden_field_tag 'user[store_id]', @store_id %>
    <div class="text-center block-mt bottom-btn" id="submit_activation">
       <%= submit_tag "激活会员卡", class: 'btn-primary flex-fluid btn-size-lg' %>
      <!-- <button class="btn-primary flex-fluid btn-size-lg">激活会员卡</button> -->
    </div>  
  </div>
 <% end %>
  <!-- 积分退换提示弹窗 -->
   
  <div class="popup-wrap activation_popup_wrap" <% if flash[:notice].blank? %> style="display:none;" <% end %> >  
    <div class="popup has-title">
      <div class="popup-title">
        <button class="close" type="button">
          <i class="ico-close notice_close_btn"></i>
        </button>
        温馨提示
      </div>
      <div class="popup-main text-center">
        <div class="text-import f16 mb5">
        <i class="ico-error mr5"></i><%= flash[:notice] %>
        </div>
        <!-- <div class="text-import f16 mb5">
        <i class="ico-right mr5"></i>积分兑换成功！
        </div> -->
        <!-- 选择上面其中一个提示 -->
        <!-- <div class="f12">积分余额不足</div> -->
      </div>
      <div class="popup-foot flex-wrap">
        <a class="flex-fluid a-button notice_close_btn" href="">确定</a>
      </div>
      
    </div>
    <div class="popup-bg"></div>
  </div>

