	<div class="header">
		<a class="header-left" href="">
			<span class="ico-header-back"></span>
		</a>
		<h1>会员卡领取</h1>
		<button class="header-right"><span class="ico-scan" onclick="wxScanQRCode();"></span></button>
	</div>
	<!-- header end -->
	<%= render 'form' %>

<script type="text/javascript">
    $(document).ready(function(){
	    //获取access_token <<
	    // var url = '<%= Const::WXConfig::ACCESS_TOKEN_ADDR %>'+'appid=<%= Const::WXConfig::APPID %>&secret=<%= Const::WXConfig::SECRET %>&code=<%= @code %>&grant_type=authorization_code';



 //    $.ajax({
	//     url: url,
	// 	dataType :"jsonp",
	// 	jsonp: false,
	//     jsonpCallback: "myJsonMethod",
	//     success : function(data){
	//         alert(data);},
	//     error : function(httpReq,status,exception){
	//         alert(status+" "+exception);
	//     }
	// });

	// function myJsonMethod(data){
	// 	alert("data:"+data)
	// }

	//     //获取access_token >>
 //    })


   //   fetch(url, {
   //      method: 'POST',
   //      mode: "cors",
   //    })
   //   .then((response) =>response.text())
   //   .then((responseData) =>{
   //      console.log('responseData', responseData);
   //    })
   //   .catch(e =>{
	  // 	console.log("error:", e);
	  // });


	 //    var myHeaders = new Headers();
		// myHeaders.append('Access-Control-Allow-Origin','*')
		// // myHeaders.append('Access-Control-Allow-Origin', 'http://gzb.davco.cn');

		// // myHeaders.append('Access-Control-Allow-Origin', 'https://api.weixin.qq.com');

		// myHeaders.append('Content-Type', 'application/json');
		// myHeaders.append('Accept', 'application/json');

		// myHeaders.append('Access-Control-Allow-Origin', 'http://gzb.davco.cn');
		// myHeaders.append('Access-Control-Allow-Credentials', 'true');

		// myHeaders.append('GET', 'POST', 'OPTIONS');		

		// var myInit = { method: 'GET',
		//                headers: myHeaders,
		//                mode: 'cors',
		//                cache: 'default' };

		// var myRequest = new Request(url, myInit);

		// fetch(myRequest).then(function(response) {
		//   return response.text();
		// }).then(function(profile) {
		// 	console.log(profile)
		// }).catch((error) =>{
  //       console.error('error', error);
  //     	});


	})

</script>