<%= form_for [:admin, @red_packet_history], :html => { :class => "form-horizontal red_packet_history" } do |f| %>

  <% if @red_packet_history.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@red_packet_history.errors.count, "error") %> prohibited this red_packet_history from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @red_packet_history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :money, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :money, :class => 'form-control' %>
    </div>
    <%=f.error_span(:money) %>
  </div>
  <div class="form-group">
    <%= f.label :catalog, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :catalog, :class => 'form-control' %>
    </div>
    <%=f.error_span(:catalog) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_red_packet_histories_path, :class => 'btn btn-warning' %>
    </div>
  </div>

<% end %>
