<%- model_class = RedPacketHistory -%>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">红包发送记录详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
							<%= model_class.human_attribute_name(:user_id) %>:
						</th>
                        <td>
							<%= @red_packet_history.user.name %></dd>
						</td>
					</tr>

					<tr>
                        <th>
							<%= model_class.human_attribute_name(:money) %>:
						</th>
                        <td>
							<%= @red_packet_history.money %></dd>
							</td>
					</tr>
					<tr>
                        <th>
							<%= model_class.human_attribute_name(:catalog) %>:
						</th>
                        <td>
							<%= @red_packet_history.catalog %></dd>
							</td>
					</tr>
					<tr>
                        <th>
							<%= model_class.human_attribute_name(:phone_number) %>:
						</th>
                        <td>
							<%= @red_packet_history.phone_number %></dd>
							</td>
					</tr>
					<tr>
                        <th>
							<%= model_class.human_attribute_name(:status) %>:
						</th>
                        <td>
							<%= @red_packet_history.status %></dd>
							</td>
					</tr>
				</table>
            </div>
			<div class="text-left block-mt">

<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_red_packet_histories_path, :class => 'btn btn-default'  %>
<!-- <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_red_packet_history_path(@red_packet_history), :class => 'btn btn-warning' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_red_packet_history_path(@red_packet_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
			</div>
        </div>
    </div>

</div>
