<%= form_for [:admin, @good], :html => { :class => "form-horizontal good" } do |f| %>

  <% if @good.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@good.errors.count, "error") %> prohibited this good from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @good.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="clearfix form-list">
          <!-- <label class="col-xs-2 control-label" for=""><%= f.label :code %></label>
          <div class="col-xs-4">
            <%= f.text_field :code, :class => 'form-control' %>
            <%=f.error_span(:code) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :name %></label>
          <div class="col-xs-4">
            <%= f.text_field :name, :class => 'form-control' %>
            <%=f.error_span(:name) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :goods_catalog_id %></label>
          <div class="col-xs-4">
            <%= f.select :goods_catalog_id, @goods_catalog.collect { |p| [ p.name, p.id ] }, {include_blank: false}, {:class => 'form-control'} %>
            <%=f.error_span(:goods_catalog_id) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :spec%></label>
          <div class="col-xs-4">
            <%= f.text_field :spec, :class => 'form-control' %>
            <%=f.error_span(:spec) %>
          </div> -->
          <label class="col-xs-2 control-label" for=""><%= f.label :'发布' %></label>
          <div class="col-xs-4">
              <%= select_tag("good[status]", options_for_select(Const::SelectOption::GOODS_STATUS, @good.status), 
              :class => 'form-control') %>
              <%=f.error_span(:status) %>
          </div>
          <label class="col-xs-2 control-label" for=""><%= f.label :score %></label>
          <div class="col-xs-4">
            <%= f.text_field :score, :class => 'form-control' %>
            <%=f.error_span(:score) %>
          </div>
  <!--         <label class="col-xs-2 control-label" for=""><%= f.label :price %></label>
          <div class="col-xs-4">
            <%= f.text_field :price, :class => 'form-control' %>
            <%=f.error_span(:price) %>
          </div> -->
          <label class="col-xs-2 control-label" for=""><%= f.label :ispromotion %></label>
          <div class="col-xs-4">
              <%= select_tag("good[ispromotion]", options_for_select(Const::SelectOption::GOODS_PROMOTION_STATUS, 
              @good.ispromotion), :class => 'form-control') %>
              <%=f.error_span(:ispromotion) %>
          </div>
<!--           <div class="col-xs-4">
            <%= f.text_field :ispromotion, :class => 'form-control' %>
            <%=f.error_span(:ispromotion) %>
          </div> -->
          <label class="col-xs-2 control-label" for="">
          <%= f.label :avatar %></label>
          <div class="col-xs-4">
            <%= f.file_field :avatar, :class => 'form-control' %>
            <%=f.error_span(:avatar) %>
          </div>
          <label class="col-xs-2 control-label" for="">
          <%= f.label :info %></label>
          <div class="col-xs-4">
            <%= f.file_field :info, :class => 'form-control' %>
            <%=f.error_span(:info) %>
          </div>
        </div>
      </form>
      <div class="block-mt">
        <%= f.submit nil, :class => 'btn btn-warning' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_goods_path, :class => 'btn btn-default' %>
      </div>
    </div>


<% end %>
