<%= form_tag("/admin/goods", method: "get",class: "form-inline") do %>
  <%= label_tag(:name, "名称:") %>
  <%= text_field_tag(:name,@name,class: "form-control")  %>
  <%= label_tag(:goods_catalog_id, "商品分类:") %>
  <%= select_tag('goods_catalog_id', options_from_collection_for_select(@goods_catalogs, 'id', 'name',@goods_catalog_id),include_blank: "全部",class: "form-control") %>
  <div class="form-group">
  <%= submit_tag("查 询",class: "btn btn-warning") %>
  </div>
<% end %>

<!-- <form action="" class="form-inline">
				<div class="form-group">
					<label >名称</label>
					<input class="form-control" type="text">
				</div>
				<div class="form-group">
					<select class="form-control fluid-size" name="" id="">
						<option value="">分组1</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-search"></span>
						搜索
					</button>
				</div>
			</form> -->