<%- model_class = Good -%>
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">商品详情</div>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-show-data">
                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:code) %>:
                        </th>
                        <td>
                            <%= @good.code %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:name) %>:
                        </th>
                        <td>
                            <%= @good.name %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:goods_catalog_id) %>:
                        </th>
                        <td>
                            <%= @good.goods_catalog_id %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:spec) %>:
                        </th>
                        <td>
                            <%= @good.spec %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:status) %>:
                        </th>
                        <td>
                            <%= @good.status %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:score) %>:
                        </th>
                        <td>
                            <%= @good.score %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:price) %>:
                        </th>
                        <td>
                            <%= @good.price %>
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:ispromotion) %>:
                        </th>
                        <td>
                            <%= @good.ispromotion %>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <%= model_class.human_attribute_name(:avatar) %>:
                        </th>
                        <td>
                            <img src="<%= @good.avatar %>" alt="Image" class="media-object">
                        </td>
                        <th>
                            <%= model_class.human_attribute_name(:info) %>:
                        </th>
                        <td>
                            <img src="<%= @good.info %>" alt="Image" class="media-object">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-left block-mt">
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_admin_good_path(@good), :class => 'btn btn-warning mr10' %>
                <%= link_to t('.back', :default => t("helpers.links.back")),
                admin_goods_path, :class => 'btn btn-default mr10'  %>
            </div>
        </div>
    </div>

</div>

