<%- model_class = Good -%>
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">商品详情</div>
    </div>
    <div class="panel-body">
      <div class="row lh24">
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:code) %>:</span>
          <%= @good.code %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:name) %>:</span>
          <%= @good.name %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:goods_catalog_id) %>:</span>
          <%= @good.goods_catalog_id %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:spec) %>:</span>
          <%= @good.spec %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:status) %>:</span>
          <%= @good.status %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:score) %>:</span>
          <%= @good.score %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:price) %>:</span>
          <%= @good.price %>
        </div>
        <div class="col-xs-3">
          <span class="text-gray"><%= model_class.human_attribute_name(:ispromotion) %>:</span>
          <%= @good.ispromotion %>
        </div>
      </div>
      <div class="row block-mt">
        <div class="col-xs-1">
          <span class="text-gray">
          <%= model_class.human_attribute_name(:avatar) %>:</span>
        </div>
        <div class="col-xs-3">
          <img src="<%= @good.avatar %>" alt="Image" class="media-object">
        </div>
        <div class="col-xs-1">
          <span class="text-gray"><%= model_class.human_attribute_name(:info) %>:</span>
        </div>
        <div class="col-xs-5">
          <img src="<%= @good.info %>" alt="Image" class="media-object">
        </div>
      </div>
      <div class="text-left block-mt">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_good_path(@good), :class => 'btn btn-warning mr10' %>
        <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_goods_path, :class => 'btn btn-default mr10'  %>
              <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_good_path(@good),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-warning mr10' %> -->

      </div>
    </div>
  </div>
  
</div>
