<%= form_for([:admin, @coupon],:html => { :class => "form-horizontal" }) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="panel block-mt">
    <div class="panel-heading">
      <div class="panel-title">优惠券配置</div>
    </div>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">优惠券名称</label>
          <div class="col-xs-4">
            <%= f.text_field :name, :class => 'form-control', :placeholder=>"请输入优惠券名称"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">优惠券类型</label>
          <div class="col-xs-4">
            <select name="coupon[catalog]" id="coupon_catalog" class="form-control">
              <option value="积分奖品">积分奖品</option>
              <option value="积分奖品2">积分奖品2</option>
              <option value="积分奖品3">积分奖品3</option>
            </select>
          </div>
        </div>  
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">生效时间</label>
          <div class="col-xs-4">
            <%= f.date_field :effect_time, :class => 'form-control', :placeholder=>"请输入生效时间"%>
          </div>
        </div>  
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">失效时间</label>
          <div class="col-xs-4">
            <%= f.date_field :invalid_time, :class => 'form-control', :placeholder=>"请输入失效时间"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">适用商品</label>
          <div class="col-xs-4">
            <%= f.text_field :good_id, :class => 'form-control', :placeholder=>"请选择适用商品"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">兑换积分</label>
          <div class="col-xs-4">
            <%= f.text_field :score, :class => 'form-control', :placeholder=>"请输入优惠券兑换积分"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-1 control-label text-right">发布状态</label>
          <div class="col-xs-4">
            <label class="radio-inline mr10">
              <input type="radio" name="coupon[status]" value="发布">发布
            </label>
            <label class="radio-inline">
              <input type="radio" name="coupon[status]" value="不发布">不发布
            </label>
          </div>
        </div>  
      </form>
    </div>
    
  </div>
  <div class="block-mt text-center">
    <input class="btn btn-warning" type="submit" name="commit" value="保存" data-disable-with="保存"/>
    <a class="btn btn-normal ml10" href=<%=admin_coupons_path%>>返回</a>
  </div>
</div>
<% end %>