

<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">优惠卷规则列表</div>
    </div>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">优惠券状态</label>
              <div class="col-xs-8">
                <label class="radio-inline mr10">
                  <input type="radio" name="">发布
                </label>
                <label class="radio-inline">
                  <input type="radio" name="">未发布
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">创建时间</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">核销时间</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>  
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">优惠券名称</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>  
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <button class="btn btn-warning">
                <span class="glyphicon glyphicon-search"></span>
                搜索
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th class="text-nowrap">编号</th>
            <th class="text-nowrap">状态</th>
            <th class="text-nowrap">创建时间</th>
            <th class="text-nowrap">适用商品</th>
            <th class="text-nowrap">兑换积分</th>
          </tr>
          <% @coupons.each do |coupon| %>
            <tr>
              <td><%= coupon.id %></td>
              <td><%= coupon.status %></td>
              <td><%= coupon.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <%if coupon.good.present?%>
                <td><%= coupon.good %></td>
              <%else%>
                <td>-</td>
              <%end%>
              <td><%= coupon.score %></td>
              <td>
                <span class="text-primary">E2332323</span>
              </td>
              <td>门店124号</td>
            </tr>
          <% end %>
        </table>
      </div>
       <%= paginate @coupons %>
    </div>
  </div>
  
</div>

<br>

