<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="turbolinks-cache-control" content="no-preview">
  <title><%= content_for?(:title) ? yield(:title) : Const::WEB_NAME %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "/assets/admin/style/mystyle", :media => "all" %>
  <%= stylesheet_link_tag "/assets/admin/style/add", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<% if @current_nav == '' %>
<!-- navbar 只有首页需要展示导航、菜单选项卡 {-->
<%= javascript_include_tag "/assets/admin/javascript/admin_tag" %>
<div class="navbar navbar-inverse">
  <div class="container">
    <!-- navbar-header {-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);">
        <%= image_tag("/assets/admin/images/brand.png")%>
      </a>
    </div>
    <!--} navbar-header -->
    <!-- navbar-collapse {-->
    <div class="collapse navbar-collapse" id="my-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            商品
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "商品", admin_goods_path %></li>
            <li><%= link_to "商品实例", admin_good_instances_path %></li>
            <li><%= link_to "商品分类", admin_goods_catalogs_path %></li>
            <li><%= link_to "优惠券", admin_coupons_path %></li>
            <li><%= link_to "优惠券实例", admin_coupon_instances_path %></li>
            <li><%= link_to "优惠券核销", '/admin/coupon_instances_write_off' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            会员
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "会员", admin_users_path %></li>
              <li><%= link_to "中奖纪录", admin_lotteries_path  %></li>            
              <li><%= link_to "会员积分历史", admin_score_histories_path  %></li>
              <li><%= link_to "会员红包历史", admin_red_packet_histories_path  %></li>
              <li><%= link_to "会员分组", admin_mem_groups_path  %></li>
          </ul>
        </li>
       <li><%= link_to "门店", admin_stores_path %></li>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            积分
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "积分兑红包规则", admin_bonus_changes_path  %></li>
              <li><%= link_to "会员等级", admin_mem_levels_path  %></li>
          </ul>
        </li>
        <li><%= link_to "技术服务", admin_tech_servs_path %></li>
        <li><%= link_to "营销活动配置", admin_activities_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            统计报表
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
  					<li><%= link_to "会员分析", admin_report_mem_analyses_path  %></li>
  					<li><%= link_to "高频预警分析", admin_qr_code_scan_histories_path  %></li>
            <li><%= link_to "日趋势分析", admin_report_trend_analyses_path  %></li>
            <li><%= link_to "地域扫码分布", admin_report_scan_geographical_distributions_path %></li>
            <li><%= link_to "月扫码频次统计", admin_report_month_scans_path  %></li>
            <li><%= link_to "会员地域分布", admin_report_region_analyses_path  %></li>
          </ul>
        </li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            参数配置
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "系统参数配置", admin_config_table_infos_path %></li>
              <li><%= link_to "首页广告修改", admin_ad_modifies_path %></li>
              <li><%= link_to "红包基准", admin_red_packet_base_rates_path %></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--} navbar-collapse -->
  </div>
</div>
<!--} navbar 只有首页需要展示导航、菜单选项卡 -->

<!-- tab 只有首页需要展示导航、菜单选项卡 {-->
<div class="container">
  <!-- sub-navbar {-->
  <div class="sub-navbar">
    <div class="sub-navbar-left">
      <a class="cub-tool" href="">
        <span class="glyphicon glyphicon-backward"></span>
      </a>
    </div>
    <div class="sub-navbar-nav-wrap">
      <ul class="sub-navbar-nav">
        <li class="active">
          <a href="">首页
            <i class="glyphicon glyphicon-remove-sign"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="sub-navbar-right">
      <a class="cub-tool" href="">
        <span class="glyphicon glyphicon-forward"></span>
      </a>
      <div class="dropdown display-ilb">
        <a class="dropdown-toggle cub-tool" data-toggle="dropdown" href="">设置操作
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">商品</a></li>
          <li><a href="#">商品分类</a></li>
          <li><a href="#">商品属性</a></li>
        </ul>
      </div>
      <a class="cub-tool" rel="nofollow" data-method="delete" href="/users/sign_out">
        <span class="glyphicon glyphicon-log-out"></span>
        退出
      </a>
    </div>
  </div>
  <!--} sub-navbar -->
</div>
<!--} tab 只有首页需要展示导航、菜单选项卡 -->

<div class="container">
  <div class="row" id="iframe_box">
    <div class="show_iframe" style="display: block;">
      <div style="display:none" class="loading"></div>
      <iframe scrolling="yes" frameborder="0" src=""></iframe>
    </div>
  </div>
</div>

<% else %>
<%= yield %>
<% end %>

</body>
<script type="text/javascript">
  //日期中文化<<
  $.datetimepicker.setLocale('zh');
  //日期中文化>>
</script>

</html>

