<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="turbolinks-cache-control" content="no-preview">
  <title><%= content_for?(:title) ? yield(:title) : Const::WEB_NAME %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "/assets/admin/style/mystyle", :media => "all" %>
  <%= stylesheet_link_tag "/assets/admin/style/add", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>

<script type="text/javascript">
  //日期中文化<<
  $.datetimepicker.setLocale('zh');
  //日期中文化>>
</script>

</html>

