<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="turbolinks-cache-control" content="no-preview">
    <title><%= content_for?(:title) ? yield(:title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "phone" %>

    <%= stylesheet_link_tag "/assets/phone/style/jquery.datetimepicker", :media => "all" %>
    <%= stylesheet_link_tag "/assets/phone/style/style", :media => "all" %>
    <%= stylesheet_link_tag "/assets/phone/style/var", :media => "all" %>


    <%= javascript_include_tag "/assets/phone/javascript/sha1", :media => "all" %>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <script type="text/javascript">
      var user_latitude // 纬度，浮点数，范围为90 ~ -90
      var user_longitude  // 经度，浮点数，范围为180 ~ -180。
      var user_speed  // 速度，以米/每秒计
      var user_accuracy  // 位置精度
$(function(){

      var timestamp = Date.parse(new Date())/1000
      var nonceStr = '<%= FFaker::Lorem::characters %>'
      var string1 = "jsapi_ticket=<%= session[:jsapi_ticket] %>&noncestr="+nonceStr+"&timestamp="+timestamp+"&url="+window.location.href
      // alert(string1)
      var signature = sha1(string1)
      // alert("signature:"+signature)
      wx.config({
          debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
          appId: '<%= ConfigInfo["weixinconfiginfo"]["APPID"] %>', // 必填，公众号的唯一标识
          timestamp: timestamp, // 必填，生成签名的时间戳
          nonceStr: nonceStr, // 必填，生成签名的随机串
          signature: signature,// 必填，签名，参与签名的字段包括noncestr（随机字符串）, 有效的jsapi_ticket, timestamp（时间戳）, url（当前网页的URL，不包含#及其后面部分） 。对所有待签名参数按照字段名的ASCII 码从小到大排序（字典序）后，使用URL键值对的格式（即key1=value1&key2=value2…）拼接成字符串string1。这里需要注意的是所有参数名均为小写字符。对string1作sha1加密，字段名和字段值都采用原始值，不进行URL 转义。
          jsApiList: ['scanQRCode','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });
      var share_title = "会员积分系统";
      var share_link = "http://gzb.davco.cn/phone/mem_activations";
      var share_imgUrl = "http://gzb.davco.cn/assets/phone/images/ad-img1.png";
      wx.ready(function(){

        // 发送朋友圈
        wx.onMenuShareTimeline({
            title: share_title, // 分享标题
            link: share_link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: share_imgUrl, // 分享图标
            success: function () { 
              alert("已分享")
                // 用户确认分享后执行的回调函数 
            },
            cancel: function () { 
              alert("已取消")
                // 用户取消分享后执行的回调函数
            }
        });
        
        // 收藏功能或微信发送给朋友
        wx.onMenuShareAppMessage({
            title: share_title, // 分享标题
            desc: '发送给朋友', // 分享描述
            link: share_link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: share_imgUrl, // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () { 
              alert("已分享")
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
              alert("已取消")
                // 用户取消分享后执行的回调函数
            }
        }); 
        
        // 分享QQ
        wx.onMenuShareQQ({
            title: share_title, // 分享标题
            desc: '分享QQ', // 分享描述
            link: share_link, // 分享链接
            imgUrl: share_imgUrl, // 分享图标
            success: function () { 
              alert("已分享")
               // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
              alert("已取消")
               // 用户取消分享后执行的回调函数
            }
        });

        
        // 分享QQ空间
        wx.onMenuShareQZone({
            title: share_title, // 分享标题
            desc: '分享QQ空间', // 分享描述
            link: share_link, // 分享链接
            imgUrl: share_imgUrl, // 分享图标
            success: function () { 
              alert("已分享")
               // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
              alert("已取消")
                // 用户取消分享后执行的回调函数
            }
        });
        
        // 分享腾讯微博
        wx.onMenuShareWeibo({
            title: share_title, // 分享标题
            desc: '分享腾讯微博', // 分享描述
            link: share_link, // 分享链接
            imgUrl: share_imgUrl, // 分享图标
            success: function () { 
               // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });


        wx.getLocation({

          type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'

          success: function (res) {
              user_latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
              user_longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
              user_speed = res.speed; // 速度，以米/每秒计
              user_accuracy = res.accuracy; // 位置精度
          }

        });

      });




  }) ;     

      //百度页面分析探针<<
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f8651dce4e7953f9d9b3fd361ba0db87";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();     
      //百度页面分析探针>>
      //日期中文化<<
      $.datetimepicker.setLocale('zh');
      //日期中文化>>
    </script>
  
  </head>
  <body class="body-bg">  
    <%= yield %>

  </body>
</html>
