<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : "中国联通" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag "/assets/phone/style/jquery.datetimepicker", :media => "all" %>
    <%= stylesheet_link_tag "/assets/phone/style/style", :media => "all" %>
    <%= stylesheet_link_tag "/assets/phone/style/var", :media => "all" %>


    <%= javascript_include_tag "/assets/phone/javascript/sha1", :media => "all" %>

  

    <script type="text/javascript">
       var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f8651dce4e7953f9d9b3fd361ba0db87";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();     
      
    </script>
  
  </head>
  <body class="body-bg">  
    <%= yield %>

  </body>
</html>
