<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title><%= content_for?(:title) ? yield(:title) : Const::WEB_NAME %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= stylesheet_link_tag "/assets/admin/style/mystyle", :media => "all" %>
    <%= stylesheet_link_tag "/assets/admin/style/add", :media => "all" %>

   
    <%= javascript_include_tag "application" %>
</head>

<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag("/assets/admin/images/brand.png")%>  
          </a>
      </div>
    <div class="collapse navbar-collapse" id="my-collapse">
        <ul class="nav navbar-nav navbar-right">
           <li onclick="navbar_active(this)" <% if @current_nav == 'users' %>class='active'<% end %> ><%= link_to "会员", admin_users_path  %></li>
           <li onclick="navbar_active(this)" <% if @current_nav == 'stores' %>class='active'<% end %> ><%= link_to "门店", admin_stores_path  %></li>
            <%if user_signed_in?%>
          <li><%=link_to "注销",destroy_user_session_path,method: :delete%></li>
            <%end%>
        </ul>
    </div>
  </div>
</div>
          <%= yield %>
  </body>
</html>
<script type="text/javascript">
  //日期中文化<<
  $.datetimepicker.setLocale('zh');
  //日期中文化>>
</script>

