<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title><%= content_for?(:title) ? yield(:title) : "会员积分体系" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= stylesheet_link_tag "/assets/admin/style/mystyle", :media => "all" %>
    <%= stylesheet_link_tag "/assets/admin/style/add", :media => "all" %>

   
    <%= javascript_include_tag "application" %>
</head>

<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag("/assets/admin/images/brand.png")%>  
          </a>
      </div>
    <div class="collapse navbar-collapse" id="my-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown <% if @current_nav == 'goods' %> active<% end %>" onclick="navbar_active(this)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  商品
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "商品", admin_goods_path  %></li>
                  <li><%= link_to "商品实例", admin_good_instances_path  %></li>
                  <li><%= link_to "商品分类", admin_goods_catalogs_path  %></li>
                </ul>
            </li>
            <li class="dropdown <% if @current_nav == 'users' %> active<% end %>" onclick="navbar_active(this)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  会员
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "会员", admin_users_path %></li>
                    <li><%= link_to "中奖纪录", admin_lotteries_path  %></li>                    
                    <li><%= link_to "会员积分历史", admin_score_histories_path  %></li>
                    <li><%= link_to "会员分组", admin_mem_groups_path  %></li>
                </ul>
            </li>
           <li onclick="navbar_active(this)" <% if @current_nav == 'stores' %>class='active'<% end %> ><%= link_to "门店", admin_stores_path  %></li>
           <li class="dropdown <% if @current_nav == 'bonus' %> active<% end %>" onclick="navbar_active(this)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  积分
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "积分兑红包规则", admin_bonus_changes_path  %></li>
                    <li><%= link_to "会员等级", admin_mem_levels_path  %></li>
                </ul>
            </li>
            <li onclick="navbar_active(this)" <% if @current_nav == 'tech_servs' %>class='active'<% end %>><%= link_to "技术服务", admin_tech_servs_path  %></li>

            <li onclick="navbar_active(this)" <% if @current_nav == 'activities' %>class='active'<% end %>><%= link_to "营销活动配置", admin_activities_path  %></li>

            <li class="dropdown <% if @current_nav == 'report' %> active<% end %>" onclick="navbar_active(this)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  统计报表
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
					<li><%= link_to "会员分析", admin_report_mem_analyses_path  %></li>
					<li><%= link_to "日趋势分析", admin_qr_code_scan_histories_path  %></li>
<!--                    <li><%= link_to "流量分析", admin_report_flow_analyses_path  %></li>
                    <li><%= link_to "页面分析", admin_report_page_analyses_path  %></li>
                    <li><%= link_to "会员地域分布", admin_report_region_analyses_path  %></li>
                    <li><%= link_to "地域扫码分布", admin_bonus_changes_path  %></li>
                    <li><%= link_to "月扫码频次统计", admin_bonus_changes_path  %></li> -->
                </ul>
            </li> 
        </ul>
    </div>
  </div>
</div>
          <%= yield %>
  </body>
</html>
