

<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">优惠卷实例列表</div>
    </div>
    <div class="panel-body">
      <form action="" class="form-horizontal">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">优惠券状态</label>
              <div class="col-xs-8">
                <label class="radio-inline mr10">
                  <input type="radio" name="">已使用
                </label>
                <label class="radio-inline">
                  <input type="radio" name="">未使用
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">创建时间</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">核销时间</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>  
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label class="control-label col-xs-4">优惠券名称</label>
              <div class="col-xs-8">
                <input class="form-control" type="text">
              </div>
            </div>  
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <button class="btn btn-warning">
                <span class="glyphicon glyphicon-search"></span>
                搜索
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th class="text-nowrap">编号</th>
            <th class="text-nowrap">会员名称</th>
            <th class="text-nowrap">会员手机</th>
            <th class="text-nowrap">状态</th>
            <th class="text-nowrap">创建时间</th>
            <th class="text-nowrap">核销时间</th>
            <th class="text-nowrap">订单号</th>
            <th class="text-nowrap">核销门店</th>
          </tr>
          <% @coupon_instances.each do |coupon_instance| %>
            <tr>
              <td><%= coupon_instance.id %></td>
              <%if coupon_instance.user_id.present?%>
                <td><%= User.find(coupon_instance.user_id).name %></td>
                <td><%= User.find(coupon_instance.user_id).phone_num %></td>
              <%else%>
                <td>陈静怡</td>
                <td>13288888888</td>
              <%end%>
              <td><%= coupon_instance.status %></td>
              <td><%= coupon_instance.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td>2017-09-11&nbsp;11:11:11</td>
              <td>
                <span class="text-primary">E2332323</span>
              </td>
              <td>门店124号</td>
            </tr>
          <% end %>
        </table>
      </div>
       <%= paginate @coupon_instances %>
    </div>
  </div>
  
</div>

<br>